* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('doro_wot.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

h1 {
  font-size: 3em;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  animation: popEffect 1s ease-in-out infinite alternate;
}

@keyframes popEffect {
  0% { transform: scale(1); }
  100% { transform: scale(1.25); } 
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

section {
  background-color: tan;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s ease, background-color 0.4s ease;
  perspective: 1000px;
}


section:hover {
  transform: rotateY(10deg) scale(1.03);
  background-color: #ffd89b;
}

.ingredient-image {
  position: absolute;
  top: 110px;
  right: 200px;
  width: 600px;
  height: auto;
  perspective: 1000px;
}


.ingredient-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.8s ease;
  backface-visibility: hidden; 
}

.ingredient-image:hover img {
  transform: rotateY(180deg); 
}


.ingredient-image img {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

ul {
  list-style-type: square;
  margin-left: 20px;
  line-height: 1.8;
}

ol {
  margin-left: 20px;
  line-height: 1.8;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: palevioletred;
}


footer {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
  background-color: transparent;
  color: white;
}


@media (max-width: 768px) {
  h1 {
      font-size: 2.5em;
  }

  h2 {
      font-size: 1.8em;
  }

  section {
      padding: 15px;
  }

  table, th, td {
      font-size: 0.9em;
  }
}
